__pycache__/
*.pyc
.pytest_cache/
.coverage
.venv/
parser.out
parsetab.py
src/imdb_parser/parser.out
src/imdb_parser/parsetab.py
.DS_Store
data/raw/*
!data/raw/.gitkeep
data/processed/imdb_movies_full.jsonl
data/processed/imdb_movies_medium.jsonl
data/processed/imdb_movies_small.jsonl
data/processed/imdb_movies_enriched.jsonl
data/processed/tmdb_overview_cache.json
data/processed/minilm_embedding_cache.json
*.pdf
